.jumbotron.expense-data.text-center
  .data-section
    p Average spend from #{@start_date.strftime('%B %Y')} to #{@end_date.strftime('%B %Y')}
    h2 #{number_to_currency(@calculator.avg_spend_per_month.round(2))}